body {
    background-color: #353535;
    font-family: sans-serif;
}

table {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2b2a33;
    width: 50%;
    border: 1px solid black;
    border-radius: 10px;
}

td {
    color: white;
    text-align: center;
}

a:visited {
    color: #fba9fb;
}

a {
    color: #8181ea;
}

span {
    border-bottom: 1px solid grey;
    color: white;
	float: left;
}
